/* Variabel untuk warna */
:root {
  --primary-bg-color: #343a40;
  --primary-text-color: #fff;
  --secondary-bg-color: #f9f9f9;
  --highlight-color: #6b0028;
  --table-border-color: #a2a9b1;
  --active-color: #004f75;
  --hover-bg-color: #f0f0f0;
}

/* Reset dan global box-sizing */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  width: 100vw;
  max-width: 1024px;
  min-height: 100vh;
  margin: 0 auto;
  padding-bottom: 4em;
  position: relative;
}

header {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  padding: 10px;
  text-align: center;
}

header a {
  text-decoration: none;
  color: var(--primary-text-color);
}

.logo {
  width: 50px;
  height: auto;
}

#wrapper {
  display: flex;
  flex-wrap: nowrap;
}

/* Container untuk elemen pencarian */
#search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-bottom: 20px;
  background-color: var(--secondary-bg-color);
}

#search-input {
  width: 50%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
}

#search-results {
  margin-bottom: 20px;
  padding: 10px;
}

#search-results.hidden {
  display: none;
}

#search-results ul {
  list-style: none;
  padding: 0;
}

#search-results ul li {
  margin-bottom: 10px;
}

#search-results ul li a {
  text-decoration: none;
  color: var(--highlight-color);
}

#search-results ul li a:hover {
  text-decoration: underline;
}

#content {
  flex-grow: 1;
  padding: 10px;
}

#main-content {
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#main-content h1 {
  color: #008099;
  font-size: 1.5rem;
  margin: 1rem 0;
}

#main-content h2 {
  color: #002b49;
  background: honeydew;
  font-size: 1.1rem;
  padding: 0.5rem;
  margin: 1rem 0;
}

#main-content h3 {
  font-size: 1rem;
  color: #064946;
  margin-bottom: 1rem;
}

#main-content p,
#main-content ul,
#main-content ol,
#main-content table,
#main-content blockquote,
#main-content hr,
#sidebar ul li a {
  margin-bottom: 1rem;
}

blockquote{
    border-left: solid #e3e3e3 5px;
    padding-left: 1rem;
    margin-left: 0;
}

#main-content img {
  display: block;
  width: 60%;
  max-width: 400px;
  height: auto;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

#main-content a {
  text-decoration: none;
  color: var(--highlight-color);
}

#main-content ul {
  padding-left: 1.4rem;
}

#main-content ol {
  padding-left: 2rem;
}

th, td {
    border: 1px solid #a2a9b1;
}

#main-content table {
  border-collapse: collapse;
  border: 2px solid var(--table-border-color);
}

#main-content th {
  background-color: #d5f4ff;
  padding: 8px;
  text-align: left;
  font-weight: bold;
  color: #202122;
  border-bottom: 2px solid var(--table-border-color);
}

#main-content td {
  padding: 8px;
  text-align: left;
  vertical-align: top;
  color: #202122;
}

#sidebar {
  background-color: honeydew;
  color: #002b49;
  min-width: 250px;
  width: 20%;
  padding: 20px;
}

#sidebar h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

#sidebar ul {
  list-style: none;
  padding: 1rem;
}

#sidebar ul li {
  margin-bottom: 10px;
}

#sidebar ul li a {
  color: black;
  text-decoration: none;
}

#sidebar ul li a:hover {
  text-decoration: underline;
}

.hidden {
  display: none;
}

.expanded > span {
  font-weight: bold;
}

footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  padding: 20px;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}

/* Media Queries */
@media (max-width: 768px) {
  #sidebar {
    width: 100%;
  }

  #wrapper {
    flex-direction: column;
  }

  #content {
    width: 100%;
  }

  #search-container {
    flex-direction: column;
  }

  #search-input {
    width: 100%;
    margin-bottom: 10px;
  }

  #search-button {
    width: 100%;
  }
}

@media (max-width: 480px) {
  #search-input,
  #search-button {
    font-size: 14px;
    padding: 8px;
  }

  #search-button {
    padding: 8px 16px;
  }
}

/* Pagination */
.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.pagination a {
  text-decoration: none;
  color: #333 !important;
  padding: 3px 3px;
  margin: 5px;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 0.8rem;
}

.pagination a.active {
  background-color: honeydew;
  color: var(--active-color) !important;
  border-color: black;
}

.pagination a:hover {
  background-color: var(--hover-bg-color);
  border-color: #ccc;
}

.recent-articles {
  padding-left: 0;
  list-style-type: none;
}

.recent-articles li {
  margin-left: -1.5rem !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}

.recent-articles p {
  margin-top: 10px;
}
