body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

#top {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 100vw;
    max-width: 635px;
    background: #0073aa;
}

#container {
    max-width: 600px;
    margin: 0 auto;    
    background-color: #fff;
    padding: 20px;
    padding-top: 9px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#website-name{
    margin-left: 20px;
    margin-right: auto;
}

#website-name a{
    text-decoration: none;
    color: white;
}

.menu-icon {
    margin-right: 10px;
    background: 0;
    border: 0;
    font-size: 1.5rem;
}

.menu-icon a {
    text-decoration: none;
    color: white;
}

#toggle-theme {
    margin-right: 20px;
    color: white;
    font-size: 1.5rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7px;
    flex-wrap: wrap;
}

.menu {
    display: inline-block;
}

.menu-select {
    display: flex;
    width: 90vw;
    justify-content: space-between;
}

select {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    outline: none;
    margin: 5px 0;
    width: 32%;
}

#search-input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 10px 0;
    min-width: 94%;
}

#section-title div {
    text-align: center; 
    font-weight: bold;
}

#section-title div:first-child {
    font-size: 1.3em;
}

#section-title div:last-child {
    font-size: 1.1em;
}

#verses-list {
    list-style-type: decimal;
    padding-left: 20px;
}

#verses-list.search-results {
    list-style-type: disc;
}

.highlight-verse {
    background-color: #abe2f5;
    transition: background-color 1s ease-in-out;
}

.highlight-search {
    background-color: #abe2f5;
    font-weight: bold;
    padding: 2px;
    border-radius: 3px;
    transition: background-color 2s ease-in-out;
}

body.dark-mode {
    background-color: #2e2e2e;
    color: #f1f1f1;
}

body.dark-mode #verses-list {
    color: #cdcdcd;
}

body.dark-mode .highlight-verse,
body.dark-mode .highlight-search {
    background-color: #000;
    color: #fff;
}

body.dark-mode #container {
    background-color: #3e3e3e;
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1);
}

body.dark-mode select,
body.dark-mode #search-input,
body.dark-mode #content {
    background-color: #3e3e3e;
    color: #cdcdcd;
    border-color: #555;
}

.chapter-navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.chapter-navigation button {
    padding: 2px 20px;
    font-weight: bolder;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #d6d6d6;
    color: black;
    transition: background-color 0.3s ease;
}

.chapter-navigation button:hover {
    background-color: #161616;
    color: white;
}

body.dark-mode .chapter-navigation button {
    background-color: #555;
}

body.dark-mode .chapter-navigation button:hover {
    background-color: #dcdcdc;
    color: #1f1f1f;
}

body.dark-mode #top {
    background: black;
}

body.dark-mode #website-name {
    color: white;
}

#selected-book {
    color: #0073aa;
}

body.dark-mode #selected-book {
    color: #aadfff;
}



/* ========================== */


